/*
 * Login: xmicha94
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu.
 */

/*** 1. Header ***/

 #header {
   position: relative;
   margin: 0 auto;
   min-height: 400px; 
 }

 #header-menu {
    max-width: 1000px;
    min-width: 900px;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 10px 5px 5px white;
 }

#header .contacts {
   margin: 10px;
}

#header .contacts .mail a:hover {
   color:#cc3636;
}

#header i[class^="fas"] {
   margin-right: .25rem;
   color: #cc3636;
}

#header i[class^="fab"] {
   color: #363535;
}

#header .networks {
   margin: 10px;
   word-spacing: 10px;
   padding-top: 5px;
}

#header .networks *:hover {
   color:#cc3636
}

#header .logo {
   font-size: 32px;
   padding-left: 40px;
   padding-top: 20px;
   border-top: 1px solid #e8e7e7;
   border-left: 1px solid #e8e7e7;
}

#header nav {
   font-size: 14px;
   letter-spacing: .05em;
   word-spacing: 20px;
   padding-right: 40px;
   padding-top: 15px;
   font-family: "Poppins";
   border-top: 1px solid #ffd0d0;
   border-right: 1px solid #ffd0d0;
}

#header-title {
   height: 80%;
   background-image: url(../img/header.jpg);
   background-repeat: no-repeat;
   background-position: center;
   box-shadow: 0 0 10px 10px white inset;
   min-width: 900px;
   max-width: 1150px;
   z-index: -1;
   min-height: 400px;
   position: relative;
   font-size: 24px;
   color: red;
   padding: 100px 50px;
   margin: -20px auto 0px auto;
}

#header-title span:first-child {
   font-size: 52px;
   color: white;
   display: block;
}

#header-title p {
   padding-top: 250px; /* tohle nemuze byt dobre */
   padding-left: 60%;
}

#header-tittle p span {
   
}

#header-form {
   font-size: 14px;
   position: relative;
   margin: -40px auto 0px auto;
   background-color: white;
   box-shadow: 0px 0px 5px 5px white;
   padding: 15px;
   word-spacing: 10px;
   max-width: 1000px;
   min-width: 900px;
   border-bottom: 1px solid #ffd0d0;
}

#header-form form {
   margin: 0 auto;
   text-align: center;
}

#header-form form * {
   max-width: 150px;
   min-width: 150px;
   height: 50px;
}

#header-form form input[type="date"] {
   min-width: 150px;
}

/*** 2. About ***/

#about {
   width: 60%;
}

#about img {
   width: 40%;
   padding: 20px;
}

/*** 3. Services ***/

#services div {
   min-width: 250px;
   display: inline-block;
}

#services img {
   height: 300px;
}

/*** 4. Tours ***/

#tours div:nth-of-type(odd) img{
   float: right;
}

#tours .section-item {
   margin-top: 40px;
   margin-bottom: 20px;
}

 #tours img {
   width: 40%;
   margin: 20px;
 }

 #tours .tour-stars:before {
      font-family: 'FontAwesome';
      content: '\f005';
      position:sticky;
 }

 #tours .tour-duration:before {
   font-family: 'FontAwesome';
   content: '\f073';
   position:sticky;
}

#tours .tour-price:before {
   font-family: 'FontAwesome';
   content: '\f15a';
   position:sticky;
}

/*** 5. Price ***/

 #price .section-content {
   height: 600px;
   /*vycpavka polozky obsahu*/
 }

#price ul li {
   padding: 10px;
}

#price ul
{
   /*background image, prazdny content, list style prazdny*/
  background-image: url("../img/crystal.svg");
  background-repeat: no-repeat;
  position:sticky;
  /* velikost odrazky 15px */
}

#price .section-content {
   background-image: url(../img/huel.jpg);
   /*transform: scaleX(-1);*/
   /* otoceni obrazku? opacity? transform scaleX(-1) */
}

/*** 6. Clients ***/

#clients  .section-item {
   margin: 40px 0px;
   max-width: 984px;
}

#clients img {
   width: 200px;
}

/* bubliny */

/*** 7. Footer ***/

footer h2 {
   letter-spacing: 0.2rem;
}

#summary {
   max-width: 30%;
}

#links {
   max-width: 20%;
}

#contacts {
   max-width: 50%;
}

#license {
   margin: 20px 0px;
}

/*** 8. Jesse ***/

#jesse {
   margin-right: 20px;
   margin-bottom: 10px;
   padding: 15px 20px;
}

/*** 9. Heisenberg ***/

#heisenberg {
   visibility: hidden;
   position: absolute;
   border-radius: 15px;
   background: rgba(0,0,255,0.8);
   border: solid  1px white;
   margin: 0 auto;
   height: 120px;
   width: 300px;
}

#heisenberg span {
   display: block;
}

#heisenberg div {
   margin-top: 40px;
   font-family: "Poppins";
   color: white;
}

#heisenberg img {
   height: 80%;
   float: left;
   margin: 10px;

   /* zaobleni okraju */
}

/*** Vzhled stranky ***/

/* Body */

body {
   margin: 0px auto;
}

/* contacts and sites */

#header-menu { 
   display: flex;
   flex-wrap: wrap;
   position: relative;
}
#header-menu .contacts { 
   order: 1;
   flex: 1 1 calc(50% - 50px);
}
#header-menu .networks { 
   order: 2;
   text-align: right; 
   flex: 1 1 calc(50% - 50px);
}
#header-menu .logo { 
   order: 3; 
   height: 50px;
   flex: 1 1 calc(40% - 50px);
}
#header-menu nav { 
   order: 4;
   height: 50px;
   text-align: right;
   flex: 1 1 calc(60% - 50px); 
}

#header-menu .contacts {
   display: flex;
   flex-wrap: wrap;
}

#header-menu .contacts .mail {
   order: 1;
   margin-right: 10px;
}

#header-menu .contacts .phone {
   order: 2;
}

.contacts .mail a {
   text-decoration: none;
   color: black;
}

#header-menu nav * {
   text-decoration: none;
   color: gray;
}


#header-menu nav li *:hover {
   color:black;
   border-bottom: 1px solid;
}


#tours-button a:hover { /* on click*/

}

/* crossroad motel img */

/*#header-title::before {
   content: "";
   background: url(../img/header.jpg);
   position: relative;
   align-content: center;
   display:block;
   height: 400px;
   background-repeat: no-repeat;
   margin: 0 auto;
   width: 100%;
}*/

/* crossroad motel */

#header-menu .logo a {
   font-family: "Bebas Neue";
   color: black;
   text-decoration: none;
}

#header-menu .logo:first-letter {
   color:#cc3636;
}

#header-menu .logo a:hover {
   visibility: hidden;
   color: #cc3636;
}

#header-menu .logo a:hover:before {
   visibility: visible;
   position: relative;
   content: "The Crystal Palace";
}

/*dropdown menu*/

/*#header-menu nav{
   display: inline-block;
   position: absolute;
}*/

#header-menu ul {
   display: inline-block;
}

#tours-button ul{
   visibility: hidden;
   position: absolute;
}

#header-menu ul li {
   display: inline-block;
   height: 80px;
}

/* Jesse */
#jesse {
   position: fixed;
   bottom: 0;
   right: 0;
   margin: 15px;
   padding: 15px 18px;
   color: #cc3636;
   border: solid  1px #cc3636;
   z-index: 100;
   /* objeveni az po scrollu */
}

/* Footer */

footer {
   background-color: #363535;
   margin: 0px -8px -20px -8px;
}

#summary {
   float:left;
}

#networks {
   float: left;
}

#links {
   float: left;
}

.contacts {
   float:left;
}

.contacts {
   font-family: "Poppins";
}









 