/*
 * Login: xmicha94
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu.
 */

 #header {
   min-height: 400px; /*asi ?, neco s viewportem*/
 }

 #header-menu {
    max-width: 1000px;
    margin-top: 10px;
 }

 #header:nth-child(2) { /*asi?*/
    line-height: 80px;   
 }

.contacts {
   margin: 10px;
}

i[class^="fas"] {
   margin-right: .25rem;
}





 